extends layout

block content
  h1 #{game.name}
  p please, add this url to your GitHub repo's webhooks...
  table
    - each player in game.players
      tr.bold(class=player.status)
        td
          a(href='https://github.com/'+player.name) #{player.name}
        td #{player.streak+(player.streak == 1 ? " day" : " days")}
