body {
  padding: 50px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted gray;
}
a:visited {
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid gray;
}

.good {
  color: green;
}
.warn {
  color: orange;
}
.bad {
  color: red;
}
.bold {
  font-weight: bold;
}
